ion-card{
    --background: #A0C1B8;
}

.validation{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: white;
    background-color: #726A95;
    border-radius: 26px;
}

.chargement{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}