      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-title class="titre-page">
            Choisir une histoire
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-card *ngFor="let item of histoires_recues; let i = index;" (click)="choisirHistoire(i)">
          <ion-card-title>Histoire numéro {{i+1}}</ion-card-title>
          {{item.titre}}
        </ion-card>

        <ion-item *ngIf="valide">
          <ion-label>
            <ion-label [routerLink]="['/scan']">Vous pouvez dès maintenant <br>commencer à scanner. <br><b>Veuillez appuyer ici !</b></ion-label>
          </ion-label>
        </ion-item>


      </ion-content>
