      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-title class="titre-page">
            Choisir une histoire
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <h1>
          Avant de commencer, il vous faut tout d'abord choisir l'histoire à laquelle vous souhaitez jouer :
        </h1>
        <p *ngIf="histoires_recues==null" class="chargement">
          <ion-spinner name="lines"></ion-spinner><br>
          <i>Veuillez patienter, les histoires sont en cours de chargement...</i>
          
        </p>
        
        <br>

        <ion-card *ngFor="let item of histoires_recues; let i = index;" (click)="choisirHistoire(i)">
          <ion-card-title>{{i+1}} -- {{item.titre}}</ion-card-title>
          Point de départ : {{item.etapes[0].lieu}}
        </ion-card>
        <br>

        <div *ngIf="valide" class="validation">
            <p [routerLink]="['/scan']">Votre histoire est choisie, vous pouvez dès maintenant commencer à scanner. <br><b>Veuillez appuyer ici !</b></p>
        </div>
        <br><br><br>


      </ion-content>
