<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titre-page">SCAN</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-button (click)="scanCode()" *ngIf="scanTermine">
    Nouveau scan
  </ion-button>

  <ion-item *ngIf="!valide">
    <ion-label>
      <ion-label [routerLink]="['/jouer']">Vous devez choisir une histoire <br>pour commencer à jouer.<br><b>Veuillez appuyer ici !</b></ion-label>
    </ion-label>
  </ion-item>

  <ion-content class="ion-padding">
    <ion-icon name="square-outline" class="frame" [ngClass]="{'frameGreen': scanTermine, 'framePink':!scanTermine}"></ion-icon>
  </ion-content>

  <ion-item *ngIf="scanTermine">
    <ion-label>
      <p>Nouvel indice trouvé :</p>
      <h2><b>{{ indice }}</b></h2>
    </ion-label>
  </ion-item>