<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titre-page">SCAN</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-label [routerLink]="['/indices']">Mes indices</ion-label>
        <ion-icon name="bulbà"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-button (click)="scanCode()" *ngIf="scanTermine">
    Nouveau scan
  </ion-button>

  <div *ngIf="!valide" class ="validation">
      <p [routerLink]="['/jouer']">Vous devez choisir une histoire pour commencer à jouer.<br><b>Veuillez appuyer ici !</b></p>
  </div>

  <ion-content class="ion-padding" *ngIf="!scanTermine">
    <ion-icon name="square-outline" [ngClass]="{'frameGreen': scanTermine, 'framePink':!scanTermine}"></ion-icon>
  </ion-content>

  <div class="reponse" *ngIf="scanTermine">
      <p>Nouvel indice trouvé :</p>
      <h2>{{indice}}</h2>
  </div>