<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titre-page">
      Mon application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <div>


    <ion-item lines="none">
      <ion-label><b>Texte à encoder:</b></ion-label>
      <ion-input [(ngModel)]="textToCode" placeholder="Entrez votre URL"></ion-input>
    </ion-item>

    <ion-button color="tertiary" expand="block" (click)="createQRCode()">
      <ion-icon slot="start" name="create"></ion-icon>
      Créer un QR Code
    </ion-button>

    <div class="center" *ngIf="myAngularxQrCode">
      <qrcode [qrdata]="myAngularxQrCode" [size]="250" [level]="'M'"></qrcode>
    </div>

  </div>

</ion-content>