<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titre-page">INDICES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <h1>
    Voici la liste des indices que vous avez accumulés jusqu'ici :
  </h1>
  <ion-card *ngFor="let indice of tableauIndices; let i = index;">
    <ion-card-title>{{i+1}}</ion-card-title>
    <ion-card-content>
      {{indice}}
    </ion-card-content>
  </ion-card>

  <br>
  <div class="validation">
    <p [routerLink]="['/scan']">Vous pouvez à tout moment retourner scanner. <br><b>Veuillez appuyer ici !</b></p>
</div>

  

</ion-content>