<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titre-page">
      Créer une histoire
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

    <ion-title>Votre nouvelle histoire :</ion-title>



    <ion-item lines="none">
      <ion-label><b>Titre de l'histoire :</b></ion-label>
      <ion-input [(ngModel)]="titreHistoire" placeholder="Entrez le titre"></ion-input>
    </ion-item>


    <ion-card *ngFor="let item of listeEtapes; let i = index;" >
      <ion-card-title>Étape numéro {{i+1}} :</ion-card-title>

      <ion-item lines="none">
        <ion-label><b>Lieu de l'indice :</b></ion-label>
        <ion-input [(ngModel)]="listeEtapes[i].lieu" placeholder="Entrez le lieu"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label><b>Contenu de l'indice :</b></ion-label>
        <ion-input [(ngModel)]="listeEtapes[i].nom" placeholder="Entrez le contenu"></ion-input>
      </ion-item>

    </ion-card>

    <ion-button color="tertiary" expand="block" (click)="ajouterEtape()">
      <ion-icon slot="start" name="add"></ion-icon>
      Ajouter une étape
    </ion-button>

    <ion-button color="tertiary" expand="block" (click)="createHistoire()" *ngIf="etapesExistent">
      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
      Valider l'histoire complète
    </ion-button>

</ion-content>