<body>
  <ion-app>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label [routerLink]="['/home']">Accueil</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="square-outline" slot="start"></ion-icon>
            <ion-label [routerLink]="['/scan']">Scanner un QRCode</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label [routerLink]="['/indices']">Voir tous mes indices</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label [routerLink]="['/generation']">Nouveau QRCode</ion-label>
          </ion-item>
          <!--<ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/test-menu']">Test Menu</ion-label>
          </ion-item>-->
          <ion-item>
            <ion-icon name="bulb" slot="start"></ion-icon>
            <ion-label [routerLink]="['/creation']">Création d'histoire</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/jouer']">Choisir une histoire</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="titre-page">
            Créer une histoire
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-title>Votre nouvelle histoire :</ion-title>



          <ion-item lines="none">
            <ion-label><b>Titre de l'histoire :</b></ion-label>
            <ion-input [(ngModel)]="titreHistoire" placeholder="Entrez le titre"></ion-input>
          </ion-item>


          <ion-card *ngFor="let item of listeEtapes; let i = index;">
            <ion-card-title>Étape numéro {{i+1}} :</ion-card-title>

            <ion-item lines="none">
              <ion-label><b>Nom de l'étape :</b></ion-label>
              <ion-input [(ngModel)]="nomEtape" placeholder="Entrez le nom"></ion-input>
            </ion-item>
  
            <ion-item lines="none">
              <ion-label><b>Lieu :</b></ion-label>
              <ion-input [(ngModel)]="lieuEtape" placeholder="Entrez le lieu"></ion-input>
            </ion-item>

            <ion-button color="tertiary" expand="block" (click)="validerEtape(i)">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              Valider cette étape
            </ion-button>

          </ion-card>

          <ion-button color="tertiary" expand="block" (click)="ajouterEtape()">
            <ion-icon slot="start" name="add"></ion-icon>
            Ajouter une étape
          </ion-button>

          <ion-button color="tertiary" expand="block" (click)="createHistoire()" *ngIf="etapesExistent">
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            Valider l'histoire complète
          </ion-button>

          <ion-button color="tertiary" expand="block" (click)="afficherHistoires()">
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            Afficher toutes les histoires :
          </ion-button>


          <ion-card *ngFor="let item of histoires_recues; let i = index;">
            <ion-card-title>Histoire numéro {{i+1}}</ion-card-title>
            {{item.titre}}
          </ion-card>





      </ion-content>
    </div>
  </ion-app>

  <script>
    async function openMenu() {
      await menuController.toggle();
    }
  </script>
</body>