<body>
  <ion-app>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="clipboard" slot="start"></ion-icon>
            <ion-label [routerLink]="['/home']">Accueil</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label [routerLink]="['/scan']">Scanner un QRCode</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/indices']">Voir tous mes indices</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/generation']">Nouveau QRCode</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/test-menu']">Test Menu</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/creation']">Création d'histoire</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="titre-page">
            Créer une histoire
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <p>Vous êtes ici pour créer une histoire</p>

        <div [ngClass]="{'divEnCours': etape1, 'divTermine':etape3, 'divTermine':etape2}">

          <ion-title>Étape 1</ion-title>


          <ion-item lines="none">
            <ion-label><b>Titre de l'histoire :</b></ion-label>
            <ion-input [(ngModel)]="titreHistoire" placeholder="Entrez le titre"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label><b>Nombre d'étapes :</b></ion-label>
            <ion-input [(ngModel)]="nombreEtapes" placeholder="Entrez le nombre"></ion-input>
          </ion-item>

          <ion-button color="tertiary" expand="block" (click)="termine1()">
            <ion-icon slot="start" name="arrow-forward"></ion-icon>
            Étape suivante
          </ion-button>

        </div>
        <br>
        <br>

        <div *ngIf="!etape1" [ngClass]="{'divEnCours': etape2, 'divTermine':etape3}">

          <ion-card *ngFor="let item of listeEtapes; let i = index;">
            
            {{i}}

            bonjour


          </ion-card>

          <ion-button color="tertiary" expand="block" (click)="createHistoire()">
            <ion-icon slot="start" name="create"></ion-icon>
            Créer mon histoire
          </ion-button>

        </div>

        <div *ngIf="etape3">


          <ion-item lines="none">
            <ion-label><b>Titre de l'histoire :</b></ion-label>
            <ion-input [(ngModel)]="titreHistoire" placeholder="Entrez le titre"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label><b>Nombre d'étapes :</b></ion-label>
            <ion-input [(ngModel)]="nombreEtapes" placeholder="Entrez le nombre"></ion-input>
          </ion-item>

          <ion-button color="tertiary" expand="block" (click)="createHistoire()">
            <ion-icon slot="start" name="create"></ion-icon>
            Créer mon histoire
          </ion-button>

          <ion-card *ngFor="let etape of listeEtapes">
            bonjour
          </ion-card>

        </div>



      </ion-content>
    </div>
  </ion-app>

  <script>
    async function openMenu() {
      await menuController.toggle();
    }
  </script>
</body>