<body>
  <ion-app>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="clipboard" slot="start"></ion-icon>
            <ion-label [routerLink]="['/home']">Accueil</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label [routerLink]="['/scan']">Scanner un QRCode</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/indices']">Voir tous mes indices</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/generation']">Nouveau QRCode</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/test-menu']">Test Menu</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/creation']">Création d'histoire</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="titre-page">
            Home de mon application
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <p>Bienvenue ! <br>
          Voilà le point de départ de votre mission : les clefs de la maison ont disparu. <br>
          Vous êtes la seule personne capable de les retrouver. <br>
          Et il vous les faut absolument, car à midi vous devez quitter la maison.<br>
          Pour la retrouver, il vous faudra mener l'enquête. <br>
          Commencez peut-être par scanner un QRCode, il y en a un sur l'ordinateur... </p>

        <ion-card *ngFor="let indice of tableauIndices">
          <ion-card-title> {{indice}}

          </ion-card-title>
        </ion-card>

        <ion-button (click)="add()">Ajouter</ion-button>




      </ion-content>
    </div>
  </ion-app>

  <script>
    async function openMenu() {
      await menuController.open();
    }
  </script>
</body>