ion-button{
  width: 319px;
  height: 107px;

  --background: #A0C1B8;
  --border-radius: 26px;

  ion-icon{
    width: 53px;
    height: 53px;
    color:#5A8378;
  }
  p{
    width: 186px;
    height: 68px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }
}
